@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans', sans-serif;
}

.brands img{
    filter: invert(70%);
    transition: ease .4s;
}

.brands img:hover{
    filter: invert(0%);
    cursor: pointer;
}

.titles{
    position: relative;
    margin-left: 30px;
}

.titles::before{
content :'';
height: 20px;
width: 20px;

border-radius: 50%;
background-color: rgb(149, 83, 255);
position: absolute;
left:0;
margin-left: -29px;
outline: 3px solid rgb(214, 214, 214);
border: 2px  solid white;


}